.App {
  font-family: sans-serif;
  text-align: center;
  background-color: dimgrey;
}
#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 10%,
    rgba(23, 26, 82, 1) 92%
  );
  color: white;
  font-family: cursive;
}

button {
  border: none;
  background-color: greenyellow;
  padding: 10px 15px;
  margin: 20px;
  border-radius: 5px;
}
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px;
  border-radius: 30px;
  background-color: rgb(26, 223, 174);
}
